<p><font size="6"><center> About Us </center></font>
&nbsp;
&nbsp;

<p><font size="4">
3P Media Partners is a multimedia agency built to integrate entertainment, sports and pop culture’ as we know it.  We specialize in brand management, executive event planning and corporate sponsorship. 
</font> </p>

<p><font size="4"> Our business model affords scalability and flexibility, integrating strategic brand management with both advertisers and marketing conduits.  With nearly 30 years of experiences in product management & marketing, event planning, brand development and endorsements; we’re supremely confident that 3P Media Partners can shape your brand awareness and strategically align your products with your present and future consumers. 
</font></p>

<p><font size="4"> 3P Media Partners will provide its clients marketing medium by which a product or services can be showcased to any audience of its choice.  We’re a results-driven firm that thrives on merging sports, entertainment and fashion through various conduits in a seamless manner.  Through our international network, we hope to expand our client’s network and reach exponentially.  We extremely confident that our suite of services will add immediate value all of our clients.
</font></p>
 
<p><font size="4"> Our executive leadership team is committed to immeasurable client satisfaction and constant innovation.  Our common tie is the understanding how to leverage technology to drive awareness and brand recognition.  In addition, we’re fueled by a dynamic group of strategic partners throughout US and Europe. 
</font></p>
 
 
<p><font size="4"> ‘Integrity…..Commitment.....Perseverance’ </font></p>
 

