<div class="jumbotron">
<p><h2><center> Our NYC Location: </h2></center>
<p><center><h3>

126 19th St
Ste 1 
NY, NY 11232 </p>
&nbsp;
&nbsp;
<p> Email: <a herf="mailto:info@3pmediapartners.com"> info@3pmediapartners.com </a> </p>

<p> Office:  8004491573 
Fax: 212 409 8689 </h3> </p></center>
</h3>
</center>
</p>
</h2>
</p>
<center>
<a href="https://twitter.com/3pmediapartners" class="btn btn-twitter" data-show-count="false" data-size="large"><h2><center>Follow @3pmediapartners</center></h2> </a></h3> </center>	
</p>
</div>