<div class="jumbotron">
       <center> <h1>Events</h1>

        <h3>RSVP for our Next Event!</h3>
        <a href="https://twitter.com/3pmediapartners" class="btn btn-twitter" data-show-count="false" data-size="large"><h2>Follow @3pmediapartners</h2></a></center>
    
    </div>
<p><font size="5"> <b> December 2013 </b> </font> </p>

<p><font size="4"> Coming Soon </font> </p>
&nbsp;
&nbsp;
<p><font size="5"> <b> January 2014 </b> </font> </p>

<p><font size="4"> 6TH ANNUAL “WHERE HIP-HOP MEETS COUTURE” </font> </p>
   
