<p><font size="6"><center> Event Design & Planning </center> </font> </p>
&nbsp;
&nbsp;
<P><font size="4">

Event Planning. From conception to completion, we specialized in event planning and design. Our team focus on flawless execution, with attention to every detail ensuring a unique and memorable experience for our clients. Our past events include celebrity golf outings, charity galas, corporate engagements and both NFL and NBA sanctioned events just to name a few.

</font></P>

&nbsp;
&nbsp;

<P><font size="4"> <b> * Media & Public Relations </b> </font> </P>
 
<P><font size="4"> <b> * Event Planning & Execution </font> </P> </b>

<P><font size="4"><b> * Digital Strategy & Innovation </font> </P> </b>

<P><font size="4"><b>* Budget Creation & Management </b> </font> </P>

<P><font size="4"><b>* Vendor Procurement & Negotiation </b> </font> </P>

&nbsp;
&nbsp;

<P><font size="4"> Offering the personal attention of a boutique company, 3P MEDIA PARTNERS leverages its relationships and contacts to create best-in-class events in the US and EU.   </font> </P>
&nbsp;
&nbsp;

<P><font size="4"> These one-of-a-kind occasions are ideal for establishing brand awareness, gaining or renewing key business relationships and creating market-swell in multiple verticals.  </font> </P>

[Include some graphics to absorb some of the white space.]


