<p><font size="6"> <center> Our Partners </center></font></p>
&nbsp;
&nbsp;
<p><font size="4">
3P Media Partners applies experience, professionalism and integrity as the core fundamentals of our success, past, present and future.  We’ve partnered with some of the world's most recognized brands, foundations and corporations for over the past 10 years.  Our engagements span from small networking events on South Beach to nationally marketed fundraisers off Wilshire Blvd in LA and all points in between.  Our goal is to routinely exceed our client  business goals and consumer reach, which can only be accomplished with dynamic partnerships.  A list of some of 3P Media’s past and present partners can be found below: </font></p>
&nbsp;
&nbsp;

&nbsp;
&nbsp;
		
&nbsp;
&nbsp;
<div>
<img src = "images/reebok.jpg"> <img src = "images/union.jpg"> <img src = "images/courvoisier.jpg">
&nbsp;
<img src = "images/monster.jpg"> <img src = "images/adidas.jpg"> <img src = "images/inc.jpg">
&nbsp;
<img src = "images/maserati.jpg"> <img src = "images/apple.jpg"> 
<p> &nbsp;
&nbsp; </p>
</div>