<div class="footer">
  <small>
    <p> Stay Connected with <%= link_to "3PMedia Partners", "http://twitter.com/3pmediapartners" %> &nbsp; Site created by <%= link_to "Rails for Startups", "http://www.railsforstartups.com" %> </p>
  </small>
</div>
