<nav class="navbar navbar-custom" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    
  </div>
  <ul class="nav pull-right">
      <li><a href="http://www.instagram.com/mommaleche" target="_blank"> <img src = "images/instagram-black.png"></a></li></ul>
      <ul class="nav pull-right">
      <li><a href="http://www.twitter.com/mommaleche" target="_blank"> <img src = "images/twitter-black.png"></a></li> </ul>
      <ul class="nav pull-right">
      <li><a href="http://www.facebook.com/mommaleche" target="_blank"> <img src = "images/facebook-black.png"></a></li></ul>

    </div>
</nav>

<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Momma Leche</a>
    </div>

  
    <ul class="nav navbar-nav">
      <li><%= link_to "About Us", about_path %></li> 
      <li><%= link_to "Our Partners", partners_path %></li> 
    <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="cs">Corporate Sponsorship</a></li>
                  <li><a href="eventdesign">Event Design & Planning</a></li>
                  <li><a href="brand">Brand Management</a></li>
                </ul>
              </li><!-- dropdown -->
<li><%= link_to "Events", events_path %></li> 
<li><%= link_to "Contact Us", contact_path %></li> 
</div><!--/.nav-collapse -->
  
  </div>
    </div>
</nav>
